#root {
  width: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.level-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}

.item {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.node-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: 20%;
}

.tree-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  width: 100%;
}

.add-button {
  margin-top: 40px !important;
}

.toggle-switch {
  margin-top: 40px !important;
}
